@page
@model Wba.StovePalace.Pages.Stoves.CreateModel

@{
    ViewData["Title"] = "Nieuwe kachel";
}

<h1>Een nieuwe kachel toevoegen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stove.BrandId" class="control-label"></label>
                <select asp-for="Stove.BrandId" class ="form-control" asp-items="ViewBag.BrandId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Stove.FuelId" class="control-label"></label>
                <select asp-for="Stove.FuelId" class ="form-control" asp-items="ViewBag.FuelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Stove.ModelName" class="control-label"></label>
                <input asp-for="Stove.ModelName" class="form-control" />
                <span asp-validation-for="Stove.ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stove.Performance" class="control-label"></label>
                <input asp-for="Stove.Performance" class="form-control" />
                <span asp-validation-for="Stove.Performance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stove.SalesPrice" class="control-label"></label>
                <input asp-for="Stove.SalesPrice" class="form-control" />
                <span asp-validation-for="Stove.SalesPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="btn-group">
                    <button type="submit" class="btn  btn-success" title="Opslaan">
                        <i class="far fa-save"></i>
                    </button>
                    <a asp-page="Index" class="btn btn-danger" title="Annuleren">
                        <i class="fas fa-undo-alt"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


